.s1 { margin-left:-57pt;text-indent:0pt;width: 57pt; }
.s2 { margin-left:-113pt;text-indent:0pt;width: 113pt;font-family:Courier New; }
.s3 { margin-left:-113pt;text-indent:0pt;width: 113pt; }
.s5 { margin-left:-124pt;text-indent:0pt;width: 124pt;font-family:Courier New; }
.s6 { margin-left:-119pt;text-indent:0pt;width: 124pt; }
.s7 { margin-left:-124pt;text-indent:0pt;width: 124pt; }
.s10 { margin-left:-130pt;text-indent:0pt;width: 130pt; }
.s11 { margin-left:-11pt;text-indent:0pt;width: 11pt; }
.s12 { margin-left:-170pt;text-indent:0pt;width: 0pt; }
.s13 { margin-left:-170pt;text-indent:0pt;width: 170pt; }
.s15 { margin-left:-198pt;text-indent:0pt;width: 198pt; }
.s16 { margin-left:-84pt;text-indent:0pt;width: 84pt; }
.s19 { margin-left:-114pt;text-indent:0pt;width: 114pt; }
.s20 { margin-left:-198pt;text-indent:0pt;width: 199pt; }
